:root{
    --text-primary: #212121;
    --text-secondary: #757575;
    --color-active: #2196F3;
    --color-white: #fff;
    --bg-grey: #eee;
    --bg-dark: #2F303A;
    --btn-color: #F5F4FA;
    --icon-color: #AFB1B8;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--text-primary);
    background-color: var(--color-white);
}
.container {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.logo-link{
    color: #000;
    font: 700 26px 'Raleway', sans-serif;
    text-decoration: none;
    line-height: 1.1923;
    letter-spacing: 0.03em;
}
.logo-link .logo-link-secondary{
    color: var(--color-active);
}
.header{
    border-bottom: 2px solid #ECECEC;
}
.header .upperHeader{
    height: 80px;
    padding: 0;
    display: flex;
    align-items: center;
}
.header .upperHeader .logo-link {
    margin-right: 93px;
}
.header .upperHeader .nav{
    display: inline-block;
}
.header .upperHeader .nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 50px;
}
.header .upperHeader .nav a, .header .upperHeader .contact-links a{
    color: var(--text-primary);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;
}
.header .upperHeader .nav a:hover, .header .upperHeader .contact-links a:hover{
    color: var(--color-active);
}
.active-link{
    color: var(--color-active) !important;
}
.header .upperHeader .contact-links{
    display: inline-block;
    margin: 0 0 0 auto;
    padding: 0;
    list-style: none;
}
.header .upperHeader .contact-link{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.header .upperHeader .contact-link-icon{
    width: 16px;
    height: 16px;
    fill: currentColor;
}
.header .upperHeader .contact-links li{
    display: inline-block;
}
.header .upperHeader a.contact-link{
    color: var(--text-secondary);
    transition: color .3s ease;
}
.header .upperHeader a.contact-link:hover{
    color: var(--color-active);
}
.header .upperHeader .contact-links li:first-child{
    margin-right: 30px;
}

.header .hero{
    padding: 200px 0;
    background: url("../images/hero-bg.jpg") var(--bg-dark) no-repeat center center/cover;
    background-size: 1600px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.header .hero-content .studio-title {
    color: var(--color-white);
    margin: 0 0 30px 0;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.363;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 696px;
}
.header .hero-content .order-service{
    padding: 10px 32px;
    color: var(--color-white);
    border: none;
    background-color: var(--color-active);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    line-height: 1.875;
    letter-spacing: 0.06em;
    cursor: pointer;
}
.header .hero-content .order-service:hover{
    background-color: #188CE8;
}

.section{
    padding: 94px 0;
}


/* Advantages section */
.advantages {
    padding-bottom: 0;
}
.advantage-icon-wrapper{
    width: 270px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--btn-color);
    margin-bottom: 30px;
}
.advantage-icon{
    width: 70px;
}
.advantages .advantages-title{
    visibility: hidden;
    height: 0;
    margin: 0;
}
.advantages .advantages-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.advantages .advantage .advantage-title{
    margin: 0 0 10px 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.advantages .advantage .advantage-text{
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--text-secondary);
}

/* Business section */

.business-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0 0 50px 0;
}
.business-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

/* Team section */
.team{
    background-color: var(--bg-grey);
}
.team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}
.team-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

}
.team-card{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--color-white);
}
.team-card-description{
    padding: 30px 0 0;
}
.social-links{
    margin: 0;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    list-style: none;
    padding: 16px 32px 30px;
}
a.social-link{
    width: 44px;
    height: 44px;
    color: var(--icon-color);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
}
a.social-link:hover{
    background-color: var(--color-active);
    color: var(--color-white);
}
.social-icon{
    width: 20px;
    height: 20px;
    fill: currentColor;
}
.team-card-title{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0 0 10px 0;
}
.team-card-text{
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-secondary);
    margin: 0;
}
.team-description{
    padding: 30px 0;
}

/* Regular Clients */

.regular-clients-title{
    margin: 0 0 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    letter-spacing: 0.03em;
}
.regular-clients-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 30px;
}
.regular-clients-item{
    width: 170px;
    height: 92px;
    transition: border-color .3s ease;
}
.regular-clients-item a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid var(--icon-color);
    color: var(--icon-color);
    border-radius: 4px;
    transition: color .3s ease;
}
.regular-client-icon{
    width: 106px;
    height: 60px;
    fill: currentColor;
    transition: fill .3s ease;
}
.regular-clients-item a:hover{
    border-color: var(--color-active);
    color: var(--color-active);
}
/* Footer */

.footer{
    padding: 60px 0;
    background-color: var(--bg-dark);
}
.footer .container {
    display: flex;
    align-items: baseline;
    gap: 70px;
}
.footer .contact-links-wrapper .logo-link{
    color: var(--color-white);
}
.footer .contact-links{
    min-width: 231px;
    padding: 0;
    list-style: none;
    margin: 20px 0 0 0;
}
.footer .contact-links a {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
}
.footer .contact-links a:hover {
    color: var(--color-active);
}
.footer .contact-links li:not(:first-child){
    margin-top: 9px;
}
.footer .contact-links .map-link{
    color: var(--color-white);
}
.footer .social-links-wrapper-title{
    color: var(--color-white);
    margin: 0 0 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.footer .social-links-wrapper .social-links{
    padding: 0;
}
.footer .social-link{
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--color-white);
}

/* Portfolio */

.portfolio-title{
    visibility: hidden;
    height: 0;
    margin: 0;
}
.portfolio ul.filter-buttons-list{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: 0 0 50px 0;
}

.portfolio .filter-button{
    font-family: 'Roboto', sans-serif;
    background-color: var(--btn-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 4px;
    border: none;
    padding: 6px 22px;
    transition: padding .3s ease;
    cursor: pointer;
}
.portfolio .filter-button:hover, .portfolio .filter-button:active, .portfolio .btn-active{
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    background-color: var(--color-active);
    color: var(--color-white);
    padding: 6px 25px;
}

.portfolio .projects-list{
    padding: 0;
    margin: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 370px);
    justify-content: center;
    gap: 30px;
}
.portfolio .projects-list-item{
    transition: box-shadow .3s ease;
}
.portfolio .projects-list-item a{
    text-decoration: none;
}
.portfolio .projects-list-item:hover{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio .projects-list-item .project-image{
    display: block;
}


.portfolio .item-description{
    padding: 20px 24px;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: var(--bg-grey);
    color: var(--text-primary);
}
.portfolio .project-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    margin: 0 0 4px 0;
}
.portfolio .project-text{
    font-weight: 400;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--text-secondary);
    margin: 0;
}
