@import './utils/vars';
@import './utils/placeholders';

@import './base/normalize';
@import './base/base-styles';
@import './base/container';
@import './components/contact-links-list';
@import './components/visually-hidden';
@import './components/logo';
@import './components/btn';
@import './components/section';
@import './components/social-links';
@import './components/input-field';
@import './components/close-btn';
@import './components/checkbox';
@import './components/terms-field';
@import './components/form-field';
@import './components/service-form';
@import './components/modal';
@import './components/service-modal';
@import './components/textarea';
@import './components/filter';

@import './components/page-header';
@import './components/upper-header';
@import './components/nav';
@import './components/hero';
@import './components/advantages';
@import './components/advantage';
@import './components/business';
@import './components/team';
@import './components/team-card';
@import './components/regular-clients';
@import './components/email-subscription';
@import './components/footer';

