.business__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0 0 50px 0;
}

.business__wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}