.close-btn{
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 5px;
    margin: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    cursor: pointer;
    border-radius: 50px;
    &:hover .close-btn__icon {
        fill: $color-active;
    }
}
.close-btn__icon{
    display: block;
    width: 18px;
    height: 18px;
    transition: fill .25s cubic-bezier(0.4, 0, 0.2, 1);
}