.email-subscription__input {
    font-size: 16px;
    display: block;
    width: 358px;
    color: $color-white;
    padding: 15px 16px;
    border-radius: 4px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    margin-right: 15px;
    transition: border-color .25s cubic-bezier(0.4, 0, 0.2, 1), outline .25s cubic-bezier(0.4, 0, 0.2, 1);

    &::placeholder {
        color: rgba(255, 255, 255, 0.6);
    }

    &:focus {
        outline: 1px solid $color-active;
        border: 1px solid $color-active;
    }
}
.email-subscription__title{
    margin: 0 0 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $color-white;
}
.email-subscription__form-field {
    display: flex;
}

.email-subscription__btn {
    &--primary {
        padding: 10px 28px;
        display: inline-flex;
        align-items: center;
        gap: 10px;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.875;
        letter-spacing: 0.06em;
    }
}