.modal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 100;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity .25s cubic-bezier(0.4, 0, 0.2, 1);
    &--is-hidden{
        opacity: 0;
        pointer-events: none;
        .modal__content{
            transform: perspective(800px) rotateX(45deg) !important;
        }
    }
}
.modal__content{
    position: relative;
    width: 528px;
    min-height: 581px;
    background-color: $color-white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: perspective(800px) rotateX(0deg);
    transition: transform .25s cubic-bezier(0.4, 0, 0.2, 1);
}
