.nav {
    display: inline-block;
    height: 100%;
}

.nav__list {
    @extend %list;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 50px;
}

.nav__item {
    height: 100%;
}

%nav__link--underline {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    bottom: -1px;
    border-radius: 2px;
    background-color: $color-active;
    transition: opacity .25s cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
}

.nav__link {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    @extend %link;

    &::after{
        @extend %nav__link--underline;
    }
    &:hover::after {
        opacity: 1;
    }
    &--active {
        color: $color-active;
        &::after {
            @extend %nav__link--underline;
            opacity: 1;
        }
    }
}